            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
            {% endif %}
            {%- if site.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            {%- if site.twitter_username -%}
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a>
            {% endif %}
